










<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="container" style="margin-top:50px;border:10px groove black">
  <div class="jumbotron">
<h1>hi i am shiva MY website COUNT</h1>
<form action="{% url 'count' %}">
Enter your text:<br/>
<textarea cols="17" rows="10" name="mytext" style="color:white;border:3px solid red;background:black"></textarea>
<br/>
<button type="submit" class="btn btn-primary">COUNT WORDS!!!</button>
</form>
</div>
</div>
